body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#title {
  margin-bottom: 20px; 
}

#puzzle-container {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
}

.puzzle-piece {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: pink;
    cursor: pointer;
}
